<?xml version="1.0"?>

<ruleset name="WordPress Pay MultiSafepay rules">
	<file>.</file>

	<exclude-pattern>tests/bootstrap.php</exclude-pattern>
	<exclude-pattern>tests/wp-config.php</exclude-pattern>

	<rule ref="Generic.CodeAnalysis.EmptyStatement.DetectedCatch">
		<exclude-pattern>src/Gateway.php</exclude-pattern>
	</rule>

	<rule ref="PronamicWP">
		<exclude name="Squiz.Commenting" />

		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />

		<exclude name="WordPress.VIP.RestrictedFunctions.wp_remote_get" />
	</rule>

	<rule ref="WordPress.DB.SlowDBQuery.slow_db_query_meta_key">
		<exclude-pattern>src/Integration.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.WP.AlternativeFunctions.file_get_contents_file_get_contents">
		<exclude-pattern>tests/**/*</exclude-pattern>
	</rule>

	<rule ref="WordPress.WP.AlternativeFunctions.file_system_read_file_get_contents">
		<exclude-pattern>tests/**/*</exclude-pattern>
	</rule>

	<rule ref="Squiz.PHP.CommentedOutCode.Found">
		<exclude-pattern>tests/**/*</exclude-pattern>
	</rule>

	<rule ref="WordPress.NamingConventions.ValidVariableName">
		<properties>
			<property name="allowed_custom_properties" type="array">
				<element value="documentElement" />
				<element value="preserveWhiteSpace" />
				<element value="formatOutput" />
			</property>
		</properties>
	</rule>
</ruleset>
